#@TYPE: Machine
#@NAME: stm32mp15-disco-mx
#@DESCRIPTION: [STM32CubeMX-EXAMPLE] STM32MP157F-DK2 board ONLY with Trusted boot and SDcard support
#@NEEDED_BSPLAYERS: layers/meta-openembedded/meta-oe layers/meta-openembedded/meta-python

###########################################################################
#
# Default machine configuration sections
#
###########################################################################

# Define specific common machine name
MACHINEOVERRIDES =. "stm32mpcommonmx:stm32mp1commonmx:stm32mp15commonmx:"
MACHINEOVERRIDES =. "stm32mp1common:stm32mp15common:"

include conf/machine/include/st-machine-common-stm32mp.inc
include conf/machine/include/st-machine-providers-stm32mp.inc

# =========================================================================
# Chip architecture
# =========================================================================
DEFAULTTUNE = "cortexa7thf-neon-vfpv4"
include conf/machine/include/arm/armv7a/tune-cortexa7.inc

# =========================================================================
# boot scheme
# =========================================================================
BOOTSCHEME_LABELS ?= ""

# =========================================================================
# boot device
# =========================================================================
BOOTDEVICE_LABELS ?= ""

# =========================================================================
# Machine settings
# =========================================================================
# Enable the board device storage support with CUBEMX_DTB
STM32MP_DT_FILES_NAND      += "${CUBEMX_DTB}"
STM32MP_DT_FILES_NOR_all   += "${CUBEMX_DTB}"
STM32MP_DT_FILES_NOR_mb    += "${CUBEMX_DTB}"
STM32MP_DT_FILES_EMMC      += "${CUBEMX_DTB}"
STM32MP_DT_FILES_SDCARD    += "${CUBEMX_DTB}"
STM32MP_DT_FILES_SPINAND   += "${CUBEMX_DTB}"

# =========================================================================
# Machine features (default for stm32mp1 like)
# =========================================================================
MACHINE_FEATURES += "splashscreen"
MACHINE_FEATURES += "watchdog"
MACHINE_FEATURES += "${@'gpu' if d.getVar('ACCEPT_EULA_'+d.getVar('MACHINE')) == '1' else ''}"
MACHINE_FEATURES += "m4copro"

# =========================================================================
# Flashlayout
# =========================================================================
# Set the FLASHLAYOUT_TYPE_LABELS for 'extensible' to CUBEMX_DTB
FLASHLAYOUT_TYPE_LABELS:extensible = "${CUBEMX_DTB}"

# =========================================================================
# CubeMX extra config
# =========================================================================
ENABLE_CUBEMX_DTB ?= "1"


###########################################################################
#
# User machine customization sections
#
###########################################################################

# Boot Scheme
# =========================================================================
BOOTSCHEME_LABELS += "opteemin"

# Boot Device Choice
# =========================================================================
# Define the boot device supported
BOOTDEVICE_LABELS += "sdcard"

# Support Feature Choice
# =========================================================================
# Define the features to enable on board
MACHINE_FEATURES += "bluetooth"
MACHINE_FEATURES += "wifi"

# Specific firmwares and kernel modules configuration
# =========================================================================
# Set the list of kernel module to be auto-loaded during boot
KERNEL_MODULE_AUTOLOAD += ""

# Set Bluetooth related package list needed when 'bluetooth' feature is enabled
#   NOTE    'linux-firmware-bluetooth-bcm43xx' firmware is specific to BT/WIFI
#           combo used on DISCO boards"
BLUETOOTH_LIST += "linux-firmware-addons-bcm43xx"

# Set Wifi related package list needed when 'wifi' feature is enabled
#   NOTE    'linux-firmware-bcm43430' firmware is specific to BT/WIFI combo used
#           on DISCO boards
WIFI_LIST += "linux-firmware-addons-bcm43xx"

# CubeMX Project Config
# =========================================================================
# Assign CubeMX Board devicetree and project path name
CUBEMX_DTB = "stm32mp157f-my-demo-mx"
CUBEMX_PROJECT = "mx/my-demo"
CUBEMX_PROJECT_NAME = "my-demo"

# Indicate the size of DDR available on BOARD: 512 or 1024 (size in MB unit)
#CUBEMX_BOARD_DDR_SIZE = "512"
